html{
  height:100%;
  width:100%;
}

body{
  font-family: 'Poppins', sans-serif;
  margin:0;
  overflow:hidden;
}

.heading{
  font-size:1.25em;
  color:#fff;
}

.description{
  font-size:0.85em;
  color:#999A9E;
}
